.navbar {
    background-color: #9370DB ;
  }
  
  .navbar .navbar-brand {
    font-weight: bold;
    color: white ;
  }
  
  .navbar .user-info {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .navbar .logout-link {
    color: white ;
    text-decoration: none;
  }
  
  .navbar .logout-link:hover {
    text-decoration: underline;
  }
  