<nav class="navbar navbar-light fixed-top">
  <div class="container d-flex justify-content-between">
    <a class="navbar-brand" href="<%= tasks_path %>">TarefaPlus</a>
    
    <% if user_signed_in? %>
      <div class="user-info d-flex align-items-center gap-2">
        <span><%= current_user.name.present? ? current_user.name.split(" ").first : "Usuário" %></span>
        <span>|</span>
        <%= button_to "Sair", destroy_user_session_path, method: :delete, class: "btn btn-sm btn-outline-light" %>
      </div>
    <% end %>
  </div>
</nav>
